.separador { border-bottom: 2px solid #0096ff; }
.banner_sonrisa{
  background-image: url("../img/servicios/banner_sonrisa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 450px;
}
.banner_carilla{
  background-image: url("../img/servicios/banner_carillas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 450px;
}
.banner_maxilo{
  background-image: url("../img/servicios/banner_maxilo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 450px;
}
.description { font-size: 120%; }
.cross { text-decoration: line-through; color: orange; font-size: 85%; }